h1 {
    width: 100%;
    font-weight: 800;
    text-align: center;
    color: rgb(220, 220, 220);
}

.body-div {
    border: 10px solid maroon;
}

a {
    text-decoration: none;
    color: brown;
}

#footer {
    text-align: center;
    vertical-align: bottom;
    margin-top: 100%;
}

body {
    background-color:rgb(147, 139, 151);
}

nav {
    text-decoration: none;
    color: burlywood;
}
